[submodule "drivers/hc-sr04"]
	path = drivers/hc-sr04
	url = https://github.com/StMaHa/micropython-hcsr04.git
[submodule "drivers/bmp180"]
	path = drivers/bmp180
	url = https://github.com/StMaHa/micropython-bmp180.git
